<div class = "flex flex-row mt-20">
    <div class = "w-2/5 flex flex-col justify-center">
    <h2 class="font-serif text-5xl text-gray-dark mb-4">blahhhblahsh</h2>
    <p class="uppercase tracking-wide">branding branding</p>
    <p class="uppercase  tracking-wide">text</p>
    <a href="#" class="bg-gradient-to-r from-orange to-purple rounded-full py-4 px-8 text-gray uppercase text-xl self-start">shop</a>
</div>
    <div class = 'w-3/5'>
        <img src="/images/hero3.jpg" class="w-full">
    </div>
</div>
