<script src="/js/login.js"></script>
<h2>Log In</h2>
<form action  = "/login" method="post">
<form class="login-form">
<label for="email">Email</label>
  <input type="text" name="email" placeholder="Email">
<label for="password">Login</label>
<input type ="password" name="password" placeholder="Password">
<button class="bg-yellow border border-yellow rounded-r-md" type="submit"></button>
</form>

<a href="/signup" >Signup</a>