<h2>Sign up</h2>
<form action  = "/signup" method="post">
<label for="name">name</label>
<input type ="text" name="name" placeholder="Name">
<label for="email">Email</label>
<input type ="text" name="email" placeholder="Email">
<label for="password">Password</label>
<input type ="password" name="password" placeholder="Password">
<input type="submit" class="bg-yellow border border-yellow rounded-r-md">
</form>

<a href="/login" >Login</a>