<h2>Sign up</h2>
<form action="/signup" class="signup-form">
  <label for="name">Name</label>
  <input type="text" name="name" placeholder="Name" id="name-signup" />
  <label for="email">Name</label>
  <input type="text" name="email" placeholder="email" id="email-signup" />
  <label for="password">Password</label>
  <input
    type="password"
    name="password"
    placeholder="Password"
    id="password-signup"/>
  <button
    type="submit"
    class="bg-yellow border border-yellow rounded-r-md">Submit</button>
</form>

<a href="/login">Login</a>

<script src="./js/signup.js"></script>